header h1{
	margin: 20px auto;
	width:125px;
}

.svg_area{
	width:100%;
	height:40px;
	margin:0 auto;
	background-image: url('/hadwensites/playground/images/shapes2.svg');
	 background-position: center top;
	background-repeat:no-repeat;
	// -webkit-background-size: initial;
	// background-size: initial;
}